
body {
  scroll-behavior: smooth;
}

.hero {
  height: 100vh;
  background: linear-gradient(to right, #141e30, #243b55);
  color: white;
}

.skill-card {
  background: white;
  border-radius: 10px;
  font-weight: 500;
  transition: all 0.3s ease;
}
.skill-card:hover {
  transform: scale(1.05);
  background-color: #0dcaf0;
  color: white;
}



/* Header */
header {
  width: 100%;
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0b1220;
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav ul li a {
  color: #ccc;
  text-decoration: none;
  font-weight: 500;
}

nav ul li a:hover {
  color: #00b4d8;
}

/* Mobile menu */
.menu-toggle {
  display: none;
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
  flex-wrap: wrap;
}

.hero-text {
  max-width: 600px;
}

.hero-text h1 {
  font-size: 3rem;
  color: #fff;
}

.hero-text h2 {
  font-size: 1.5rem;
  color: #ccc;
}

.hero-text h2 span {
  color: #00b4d8;
}

.hero-text p {
  margin: 20px 0;
  line-height: 1.6;
  color: #aaa;
}

.social-links a {
  color: #fff;  /* visible on dark background */
  margin: 0 10px;
  font-size: 24px;
  text-decoration: none;
}

.social-links a:hover {
  color: #00b4d8;
}

.btn {
  display: inline-block;
  background: #00b4d8;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
  margin-top: 20px;
  transition: 0.3s;
}

.btn:hover {
  background: #0077b6;
}

.hero-img img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 4px solid #00b4d8;
}

/* Responsive */
@media (max-width: 768px) {
  header {
    padding: 20px 40px;
  }

  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #0b1220;
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: none;
  }

  nav ul.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px;
  }

  .hero-img img {
    margin-top: 30px;
  }
}
#certifications{
  background: linear-gradient(to right, #141e30, #243b55);
   color: white;
}
#certifications .card img {
  height: 200px;
  object-fit: cover;
}

#certifications .card:hover {
  transform: scale(1.03);
  transition: 0.3s;
}

.modal-body img {
  max-height: 80vh;
  object-fit: contain;
}

